<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <title sec:authentication="name"></title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
    <style type="text/css">
        body {
            padding-top: 50px;
        }
        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Spring Security</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/}"> 首页 </a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<div class="container">

    <div class="starter-template">
        <!--<h1 th:text="${msg.title}"></h1>-->

        <!--<p class="bg-primary" th:text="${msg.content}"></p>-->

        <!--<div sec:authorize="hasRole('ROLE_ROOT')"> &lt;!&ndash; 用户类型为ROLE_ADMIN 显示 &ndash;&gt;-->
            <!--<p class="bg-info" th:text="${msg.extraInfo}"></p>-->
            <!--<p class="bg-info" th:text="ROOT"></p>-->
        <!--</div>-->

        <!--<div sec:authorize="hasRole('ROLE_ADMIN')"> &lt;!&ndash; 用户类型为ROLE_ADMIN 显示 &ndash;&gt;-->
            <!--<p class="bg-info" th:text="${msg.extraInfo}"></p>-->
        <!--</div>-->

        <!--<div sec:authorize="hasRole('ROLE_USER')"> &lt;!&ndash; 用户类型为 ROLE_USER 显示 &ndash;&gt;-->
            <!--<p class="bg-info">无更多信息显示</p>-->
        <!--</div>-->

        <!--<form th:action="@{/logout}" method="post">-->
            <!--<input type="submit" class="btn btn-primary" value="注销"/>-->
        <!--</form>-->


        <!--<h1 th:text="注册"></h1>-->

        <!--<form th:action="@{/register/insert}" method="post" th:object="${sysuser}">-->

            <!--<div class="form-group">-->
                <!--<label for="username">账号</label>-->
                <!--<input type="text" class="form-control" th:field="*{username}" placeholder="账号" />-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="password">密码</label>-->
                <!--<input type="password" class="form-control" th:field="*{password}" placeholder="密码" />-->
            <!--</div>-->

            <!--<input type="submit" class="btn btn-primary" value="注册"/>-->
        <!--</form>-->
    </div>

</div>

</body>
</html>