<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta content="text/html;charset=UTF-8"/>
    <title>register-result-page</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
    <style type="text/css">
        body {
            padding-top: 50px;
        }

        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }
    </style>
</head>
<body>



<div class="starter-template">
    <h1 th:text="${message.extraInfo}">congratulations!</h1>
</div>
</body>
</html>